<div class="container-fluid py-4">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header pb-0">
                    <div class="d-flex align-items-center">
                        <p class="mb-0">Chỉnh sửa tin tức</p>
                        <button id="back-userTable" class="btn btn-primary btn-sm ms-auto">Quay lại</button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12 d-flex justify-content-center">
                            <div class="form-group w-670">
                                <label class="form-control-label">Họ và tên</label>
                                <input class="form-control" id="fullName" type="text" name="fullName" value="" readonly>
                            </div>
                        </div>
                    </div>
                    <hr class="horizontal dark">
                    <div class="row">
                        <div class="col-md-12 d-flex justify-content-center">
                            <div class="form-group w-670">
                                <label class="form-control-label">Tên đăng nhập</label>
                                <input class="form-control" id="userName" type="text" name="userName" value="" readonly>
                            </div>
                        </div>
                    </div>
                    <hr class="horizontal dark">
                    <div class="row">
                        <div class="col-md-12 d-flex justify-content-center">
                            <div class="form-group w-670">
                                <label class="form-control-label">Email</label>
                                <input class="form-control" id="email" type="text" name="email" value="" readonly>
                            </div>
                        </div>
                    </div>
                    <hr class="horizontal dark">
                    <div class="row">
                        <div class="col-md-3 ml-category">
                            <div class="form-group">
                                <label class="form-control-label">Vai trò</label>
                                <select class="form-control" name="roleUser" id="roleUser"></select>
                                <!--<input class="form-control" type="text" name="category" value="">-->
                            </div>
                        </div>
                    </div>
                    <hr class="horizontal dark">
                    <div class="row">
                        <div class="col-md-12 d-flex justify-content-center">
                            <div class="form-group w-670">
                                <label class="form-control-label">Ngày sinh</label>
                                <input class="form-control" id="dob" type="date" name="dob" value="" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="card-header pb-0">
                        <div class="d-flex align-items-center">
<!--                            <button id="saveUser" class="btn btn-primary btn-sm ms-auto">Lưu</button>-->
                            <button id="updateUser" class="btn btn-primary btn-sm ms-auto">Cập nhât</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
