<div class="container-fluid py-4">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header pb-0">
                    <div class="d-flex align-items-center">
                        <p class="mb-0">Thông tin vai trò</p>
                        <button id="back-roleTable" class="btn btn-primary btn-sm ms-auto">Quay lại</button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12 d-flex justify-content-center">
                            <div class="form-group w-670">
                                <label class="form-control-label">Tên vai trò</label>
                                <input class="form-control" id="roleName" type="text" name="roleName" value="">
                            </div>
                        </div>
                    </div>
                    <hr class="horizontal dark">
                    <div class="row">
                        <div class="col-md-12 d-flex justify-content-center">
                            <div class="form-group w-670">
                                <label class="form-control-label">Vai trò</label>
                                <select class="form-control" id="roleCode" name="roleCode">
                                    <option value="">Chọn vai trò</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <!--<hr class="horizontal dark">
                    <div class="row">
                        <div class="col-md-12 d-flex justify-content-center">
                            <div class="form-group w-670">
                                <label class="form-control-label">Người tạo</label>
                                <input class="form-control" id="roleCreatedBy" type="text" name="roleCreatedBy" value="">
                            </div>
                        </div>
                    </div>-->
                    <hr class="horizontal dark">
                    <div class="row">
                        <div class="col-md-12 d-flex justify-content-center">
                            <div class="form-group w-670">
                                <label class="form-control-label">Thể loại quản lý</label>
                                <select class="form-control" name="categories" id="categories"></select>
                                <!--<input class="form-control" type="text" name="category" value="">-->
                            </div>
                        </div>
                    </div>
                    <!--<hr class="horizontal dark">
                    <div class="row">
                        <div class="col-md-12 d-flex justify-content-center">
                            <div class="form-group w-670">
                                <label class="form-control-label">Ngày tạo</label>
                                <input class="form-control" id="roleCreatedDate" type="date" name="roleCreatedDate" value="">
                            </div>
                        </div>
                    </div>-->
                    <hr class="horizontal dark">
                    <div class="row">
                        <div class="col-md-12 d-flex justify-content-center">
                            <div class="form-group w-670">
                                <label class="form-control-label">Mô tả</label>
                                <input class="form-control" id="description" type="text" name="description" value="">
                            </div>
                        </div>
                    </div>
                    <div class="card-header pb-0">
                        <div class="d-flex align-items-center">
                            <button id="saveRole" class="btn btn-primary btn-sm ms-auto">Lưu</button>
                            <button id="updateRole" class="btn btn-primary btn-sm ms-auto">Cập nhật</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
