<div class="container-fluid py-4">

    <!-- Form xác nhận từ chối -->
    <div id="rejectConfirmationModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Xác nhận từ chối</h2>
            <p>Nhập lý do từ chối:</p>
            <textarea id="rejectReason" rows="2" cols="50"></textarea>
            <div class="d-flex justify-content-between mt-4">
                <button class="btn btn-danger max-width-200" id="confirmReject">Xác nhận</button>
                <button class="btn btn-primary max-width-200" id="cancelReject">Hủy</button>
            </div>
        </div>
    </div>
    <!-- Form xác nhận từ chối -->

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header pb-0">
                    <div class="d-flex align-items-center">
                        <p class="mb-0">Thông tin tin tức</p>
                        <button id="back-newsByCategory" class="btn btn-primary btn-sm ms-auto">Quay lại</button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12 d-flex justify-content-center">
                            <div class="form-group w-670">
                                <label class="form-control-label">Tiêu đề tin tức</label>
                                <input class="form-control" type="text" name="title" value="">
                            </div>
                        </div>
                    </div>
                    <hr class="horizontal dark">
                    <div class="row">
                        <div class="col-md-12 d-flex justify-content-center">
                            <div class="form-group w-670">
                                <label class="form-control-label">Mô tả ngắn</label>
                                <input class="form-control" type="text" name="shortDescription" value="">
                            </div>
                        </div>
                    </div>
                    <hr class="horizontal dark">
                    <div class="row">
                        <div class="col-md-12 d-flex justify-content-center">
<!--                        <div class="col-md-3 ml-category">-->
                            <div class="form-group w-670">
                                <label class="form-control-label">Thể loại</label>
                                <select class="form-control" name="category" id="category-select"></select>
                                <!--<input class="form-control" type="text" name="category" value="">-->
                            </div>
                        </div>
                    </div>
                    <hr class="horizontal dark">
                    <div class="row d-flex justify-content-center">
                        <div class="form-group w-470">
                            <label class="form-control-label">Tải Ảnh</label>
                            <input class="form-control" type="file" id="imageUpload" accept="image/*">
                            <label class="form-control-label mt-2">Link Ảnh</label>
                            <input type="text" class="form-control" id="thumbnail" name="thumbnail" value="">
                        </div>
                        <div class="form-group img-contentDisplay">
                            <!-- Thêm một input ẩn để lưu URL của ảnh -->
                            <input type="hidden" id="thumbnailUrl" name="thumbnailUrl">
                            <input type="hidden" id="publicId" name="publicId">
                            <!-- Thêm div để hiển thị hình ảnh sau khi upload -->
                            <div id="loading-imagePreview" class="d-none">
                                <img class="w-100" th:src="@{/static/loading/circle-loading.gif}" alt="Loading...">
                            </div>
                            <div id="imagePreview" style="margin-top: 25px;"></div>
                        </div>
                    </div>
                    <hr class="horizontal dark">
                    <div class="row">
                        <div class="editForm-newsContent">
                            <div class="form-group">
                                <label class="form-control-label">Nội dung</label>
                                <textarea class="form-control" id="editor" name="content"></textarea>
                            </div>
                        </div>
                    </div>
                    <hr class="horizontal dark">
                    <div class="row">
                        <div class="col-md-12 d-flex justify-content-center">
                            <div class="form-group w-670">
                                <label class="form-control-label">Nguồn tin tức</label>
                                <input class="form-control" id="source" type="text" name="source" value="">
                            </div>
                        </div>
                    </div>
                    <div id="forAuthor" class="d-none">
                        <div id="rejectInput">
                            <hr class="horizontal dark">
                            <div class="row">
                                <div class="col-md-12 d-flex justify-content-center">
                                    <div class="form-group w-670">
                                        <label class="form-control-label">Lý do từ chối</label>
                                        <input class="form-control" id="rejectReasonInput" type="text" name="rejectReasonInput" value="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="horizontal dark">
                        <div class="row">
                            <div class="col-md-12 d-flex justify-content-center">
                                <div class="form-group w-670">
                                    <label class="form-control-label">Người phê duyệt</label>
                                    <input class="form-control" id="approvedBy" type="text" name="approvedBy" value="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-header pb-0">
                        <div class="d-flex align-items-center">
                            <button id="saveNews" class="btn btn-primary btn-sm ms-auto">Lưu</button>
                            <button id="updateNews" class="btn btn-primary btn-sm ms-auto">Cập nhật</button>
                            <button id="refuseNews" class="btn btn-danger btn-sm ms-3">Từ chối</button>
<!--                            <button id="refuseNews" class="btn btn-danger btn-sm ms-auto">Từ chối</button>-->
                            <button id="approveNews" class="btn btn-success btn-sm ms-3">Phê duyệt</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
