<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NEWSBIG</title>

    <!-- Favicon -->
    <link th:href="@{/static/customer/img/favicon.png}" rel="icon">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/static/login/login.css}">
    <link th:href="@{/static/notification/notification.css}" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
    <script th:src="@{/static/notification/notification.js}"></script>
    <style>
        .c-red {
            color: red;
        }
    </style>
</head>
<body>

<!--<h2>User Registration</h2>

<form id="registrationForm">
    <div>
        <label for="userName">Username:</label>
        <input type="text" id="userName" name="userName" required minlength="4">
    </div>

    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required minlength="4">
    </div>

    <div>
        <label for="fullName">Full Name:</label>
        <input type="text" id="fullName" name="fullName" required>
    </div>

    <div>
        <label for="dob">Date of Birth:</label>
        <input type="date" id="dob" name="dob" required>
    </div>

    <div>
        <button type="button" id="submitBtn">Register</button>
    </div>
</form>-->

<!--===========Notification=============-->
<div class="notifications" id="notification-container"></div>
<!--===========Notification=============-->

<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card border-0 shadow rounded-3 my-5">
                <div class="card-body p-4 p-sm-5">
                    <h5 class="card-title text-center mb-5 fw-light fs-5">Đăng ký</h5>
                    <form id="registrationForm">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="userName" name=userName placeholder="Tên đăng nhập" required minlength="5" pattern="^[a-zA-Z0-9]+$">
                            <div id="userNameError" class="text-danger d-none">Tên đăng nhập đã tồn tại!</div>
                            <label for="userName">Tên đăng nhập
                                <span class="c-red">*</span>
                            </label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="fullName" name="fullName" required placeholder="Họ và tên">
                            <div id="fullNameError" class="text-danger d-none"></div>
                            <label for="fullName">Họ và tên
                                <span class="c-red">*</span>
                            </label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="password" class="form-control" id="password" name="password" required minlength="6" placeholder="Mật khẩu">
                            <label for="password">Mật khẩu
                                <span class="c-red">*</span>
                            </label>
                            <div id="passwordErrorShow" class="text-danger d-none"></div>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="password" class="form-control" id="passwordReplay" name="passwordReplay" required minlength="6" placeholder="Nhập lại mật khẩu">
                            <label for="passwordReplay">Nhập lại mật khẩu
                                <span class="c-red">*</span>
                            </label>
                            <div id="passwordError" class="text-danger d-none"></div>
                        </div>
                        <div class="mb-3">
                            <input type="checkbox" id="showPass" name="showPass">
                            <label for="showPass">Hiển thị mật khẩu</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="date" class="form-control" id="dob" name="dob" required>
                            <div id="dobError" class="text-danger d-none"></div>
                            <label for="dob">Ngày sinh
                                <span class="c-red">*</span>
                            </label>
                        </div>

                        <!--< div class="form-check mb-3">
                            <input class="form-check-input" type="checkbox" value="" id="rememberPasswordCheck">
                            <label class="form-check-label" for="rememberPasswordCheck">
                                Remember password
                            </label>
                        </div>-->
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary btn-login text-uppercase fw-bold" id="submitBtn">Đăng ký</button>
                        </div>
                        <hr class="my-4">
                        <div class="d-grid mb-2">
                            <a href="/news_lv/oauth2/authorization/google">
                                <button class="btn btn-google btn-login text-uppercase fw-bold" type="button">
                                    <i class="fab fa-google me-2"></i> Đăng nhập với Google
                                </button>
                            </a>
                            <!--<button class="btn btn-google btn-login text-uppercase fw-bold" type="submit">
                                <i class="fab fa-google me-2"></i> Sign in with Google
                            </button>-->
                        </div>
                        <div class="d-grid">
                            <a th:href="@{/page/login}">
                                <button class="btn btn-facebook btn-login text-uppercase fw-bold" type="button">
                                    <!--<i class="fab fa-facebook-f me-2"></i>--> Chuyển trang đăng nhập
                                </button>
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- jQuery AJAX to send data -->
<script>
    var showPass = $('#showPass');
    var password = $('#password');
    var passwordReplay = $('#passwordReplay');

    showPass.on('change', function() {
        if (showPass.is(':checked')) {
            password.attr('type', 'text');
            passwordReplay.attr('type', 'text');
        } else {
            password.attr('type', 'password');
            passwordReplay.attr('type', 'password');
        }
    });

    $('#password').on('blur', function() {
        var passwordVal = $('#password').val();
        if (passwordVal.length < 6) {
            $('#passwordErrorShow').removeClass('d-none');
            $('#passwordErrorShow').text('Mật khẩu phải có ít nhất 6 ký tự!')
            return;
        } else {
            $('#passwordErrorShow').addClass('d-none');
        }
    });

    $('#passwordReplay').on('blur', function() {
        var passwordVal = $('#password').val();
        var passwordReplayVal = $(this).val();
        if (passwordVal !== passwordReplayVal) {
            $('#passwordError').removeClass('d-none');
            $('#passwordError').text('Mật khẩu không trùng khớp!')
        } else {
            $('#passwordError').addClass('d-none');
        }
    });

    $('#submitBtn').on('click', function(e) {
        e.preventDefault();
        var isValid = true;

        // Kiểm tra tất cả các trường nhập liệu
        $('#registrationForm input[required]').each(function() {
            if ($(this).val() === '') {
                isValid = false;
                return false;
            }
        });

        if (!isValid) {
            alert("Vui lòng điền đầy đủ thông tin.");
            return;
        }

        var dob = new Date($('#dob').val());
        var today = new Date();
        var age = today.getFullYear() - dob.getFullYear();
        var monthDiff = today.getMonth() - dob.getMonth();
        if (monthDiff < 0 || (monthDiff === 0 && today.getDate() < dob.getDate())) {
            age--;
        }
        if (age < 14) {
            $('#dobError').removeClass('d-none');
            $('#dobError').text('Bạn không đủ tuổi để đăng ký tài khoản!');
            return;
        } else {
            $('#dobError').addClass('d-none');
        }

        let formData = {
            userName: $('#userName').val(),
            password: $('#password').val(),
            fullName: $('#fullName').val(),
            dob: $('#dob').val()
        };

        $.ajax({
            url: '/news_lv/users', // The API endpoint
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(formData),
            success: function(response) {
                createToast('success', 'fas fa-check', 'Thành công', 'Đăng ký tài khoản thành công');
                window.location.href = "/news_lv/page/login";
            },
            error: function(response) {
                createToast('error', 'fas fa-exclamation', 'Thất bại', 'Đăng ký không thành công');
            }
        });
    });

    $(document).ready(function() {
    });

    function isValidUserName(userName) {
        // Kiểm tra userName phải chứa ít nhất một chữ cái và có độ dài >= 5
        var userNamePattern = /^(?=.*[a-zA-Z])[a-zA-Z0-9]{5,}$/;
        return userNamePattern.test(userName);
    }

    function isValidFullName(fullName) {
        // Kiểm tra fullName có nghĩa với ít nhất một khoảng trắng và có độ dài >= 5
        var fullNamePattern = /^[a-zA-Z]+(\s[a-zA-Z]+)+$/;
        return fullNamePattern.test(fullName) && fullName.length >= 5;
    }

    $('#fullName').on('blur', function() {
        var fullName = $(this).val();

        if (!isValidFullName(fullName)) {
            $('#fullNameError').removeClass('d-none');
            $('#fullNameError').text('Họ và tên phải bao gồm ít nhất một khoảng trắng và có ý nghĩa!');
            return;
        } else {
            $('#fullNameError').addClass('d-none');
        }
    });

    $('#userName').on('blur', function() {
        var userName = $(this).val();

        if (!isValidUserName(userName)) {
            $('#userNameError').removeClass('d-none');
            $('#userNameError').text('Tên đăng nhập không hợp lệ!');
            return;
        } else {
            $('#userNameError').addClass('d-none');
        }

        // Kiểm tra xem userName đã tồn tại hay chưa
        if (userName) {
            checkUserNameExists(userName);
        }
    });
    /*function isValidUserName(userName) {
        // Kiểm tra userName không phải là chuỗi vô nghĩa
        var userNamePattern = /^[a-zA-Z0-9]+$/;
        return userName.length >= 5 && userNamePattern.test(userName);
    }

    function isValidFullName(fullName) {
        // Kiểm tra fullName không phải là chuỗi vô nghĩa
        var fullNamePattern = /^[a-zA-Z\s]+$/;
        return fullName.length >= 5 && fullNamePattern.test(fullName);
    }

    $('#fullName').on('blur', function() {
        var fullName = $(this).val();

        if (!isValidFullName(fullName)) {
            $('#fullNameError').removeClass('d-none');
            $('#fullNameError').text('Họ và tên phải có nghĩa!')
            return;
        } else {
            $('#fullNameError').addClass('d-none');
        }
    });

    $('#userName').on('blur', function() {
        var userName = $(this).val();

        var userNamePattern = /^[a-zA-Z0-9]+$/;
        if (userName.length < 5 || !userNamePattern.test(userName)) {
            $('#userNameError').removeClass('d-none');
        } else {
            $('#userNameError').addClass('d-none');
        }

        if (userName) {
            checkUserNameExists(userName);
        }

        // Kiểm tra tính hợp lệ của userName và fullName
        if (!isValidUserName(userName)) {
            $('#userNameError').removeClass('d-none');
            $('#userNameError').text('Tên đăng nhập phải có nghĩa!')
            return;
        }
    });*/

    function checkUserNameExists(userName) {
        $.ajax({
            url: '/news_lv/users/checkUserName',
            type: 'GET',
            data: {
                userName: userName
            },
            success: function(response) {
                if (response.result) {
                    $('#userNameError').removeClass('d-none')
                    $('#userNameError').text('Tên đăng nhập phải có ít nhất 6 ký tự và không chứa ký tự đặc biệt!')
                    $('#userName').val(''); // Xóa giá trị của trường userName
                } else {
                    $('#userNameError').addClass('d-none')
                }
            },
            error: function(error) {
                console.error('Error checking userName:', error);
            }
        });
    }
</script>

</body>
</html>