.active-categoryName {
    color: #5e72e4 !important;
}

.hide-item {
    display: none !important;
}

.ck-content {
    min-height: 400px;
}

.ck.ck-editor {
    width: 670px !important;
}

.editForm-newsContent {
    display: flex;
    justify-content: center;
}

.w-670 {
    width: 670px;
}

.w-470 {
    width: 470px;
}

.img-contentDisplay {
    width: 200px;
    height: 100%;
}

.ml-category {
    margin-left: 146px;
}

.navbar-vertical.navbar-expand-xs .navbar-collapse {
    height: 100vh !important;
}

.replyComment {
    margin-left: 50px;
}

#loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    z-index: 10000; /* Ensure it is behind the loading GIF */
}

#loading {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10001; /* Ensure it is above the overlay */
}

/* Định dạng lớp overlay */
.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    z-index: 10000;
}

/* Định dạng nội dung của modal */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 400px;
    z-index: 10001;
}

/* Định dạng nút đóng */
.close {
    color: #aaa;
    margin-left: auto;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#title-newsTable {
    max-width: 500px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}